<h1>New User</h1>

  <%= form_for @user do |f| %>

    Username:<%= f.text_field :username, placeholder: "Your Username Here", class: 'form-control' %>
    <br /> <br />


    Email:<%= f.text_field :email, placeholder: "example@example.com", class: 'form-control'  %>
    <br /> <br />


    Password:<%= f.password_field :password %>
    <br /> <br />

    <%= f.submit "Submit", name: nil %>
  <% end %>